<ActionBar class="action-bar" title="Member Details">
  <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" color="black" (tap)="goBack()">
  </NavigationButton>
  <ActionItem ios.systemIcon="9" ios.position="right" color="#0000ff" icon="res://ic_notifications_black_24dp" [nsRouterLink]="['/notifications']"
      android.position="actionBar">
  </ActionItem>
  <ActionItem *ngIf="notificationCount" ios.position="right">
      <Label translateX="-20" translateY="-10" padding="0 2" backgroundColor="#F40416" borderRadius="3" color="white" [text]="notificationCount"></Label>
  </ActionItem>
</ActionBar>

<ScrollView id="scroll" orientation="vertical" isEnabled="true" width="100%" height="100%">
  <ActivityIndicator [busy]="isLoading" *ngIf="isLoading" row="1" horizontalAlignment="center" verticalAlignment="center">
  </ActivityIndicator>
  <StackLayout margin="10" *ngIf="!isLoading">
      <Label class="Name" [text]="pagedItems.AgentName" textWrap="true"></Label>
      <Label [text]="pagedItems.City.Name+','+ pagedItems.Country.Code"></Label>
      <Label class="Name" text="Address"></Label>
      <Label [text]="pagedItems.Address1"></Label>
      <Label class="Name" text="Chat Contacts - click to start chatting"></Label>

      <Label class="Name" text="Profile Information"></Label>
      <WebView [src]="pagedItems.AboutUs" height="100%"></WebView>
  </StackLayout>
</ScrollView>