<ActionBar title="Rate Request" color="black">
  <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="goBack()">
  </NavigationButton>
  <ActionItem ios.systemIcon="9" ios.position="right" color="#0000ff" icon="res://ic_notifications_black_24dp" [nsRouterLink]="['/notifications']"
      android.position="actionBar">
  </ActionItem>
  <ActionItem *ngIf="notificationCount" ios.position="right">
      <Label translateX="-20" translateY="-10" padding="0 2" backgroundColor="#F40416" borderRadius="3" color="white" [text]="notificationCount"></Label>
  </ActionItem>
</ActionBar>
<StackLayout>
<GridLayout>
    <RadListView *ngIf="!isLoading" row="1" height="100%" [items]="pagedItems">
    <ng-template let-pagedItem="item" let-i="index">
        <CardView class="cardStyle" margin="5" elevation="5" borderRadius="5" radius="5" [nsRouterLink]="['/rrdetail', pagedItem.RateRequestId]">
            <GridLayout rows="auto, auto, auto, auto, auto" 
            columns="1/2*, auto, 1/2*" class="Name p-10">
            <Label row="0" col="0" class="text-center" text="From:" color="black" fontWeight="bold"></Label>
            <Label row="0" col="1" class="text-center" [text]="pagedItem.AddressBookName" color="black" fontWeight="bold"></Label>
            <Label row="2" col="0" class="text-center" backgroundColor="lightgray" color="black" [text]="pagedItem.From" fontWeight="bold" textWrap="true"></Label>
            <Label row="2" col="1" class="text-center" backgroundColor="lightgray" color="black" class="fa" text="&#xf061;" fontWeight="bold"></Label>
            <Label row="2" col="2" class="text-center" backgroundColor="lightgray" color="black" [text]="pagedItem.To" fontWeight="bold" textWrap="true"></Label>
            <Label row="3" col="0" colSpan="3" text="ShipmentDate" color="gray" textWrap="true"></Label>
            <Label row="3" col="1" colSpan="3" color="black" [text]='pagedItem.ShipmentDate'></Label>
        </GridLayout>
      <!-- <StackLayout class="list-group-item border">
        <b>
          <Label class="list-group-item-heading" id="Name" [text]="pagedItem.AddressBookName" textWrap="true"></Label>
        </b>
        <b>
          <Label class="list-group-item-heading" id="Name" [text]="pagedItem.To" textWrap="true"></Label>
        </b>
        <StackLayout orientation="horizontal">
          <Label [text]="pagedItem.TransportMode+','+ pagedItem.ShipmentDate+''" id="city" class="list-group-item-text"></Label>
        </StackLayout>
      </StackLayout> -->
      </CardView>
    </ng-template>
</RadListView>
</GridLayout>
</StackLayout>