<ActionBar title="Notifications">
    <NavigationButton text="Go Back" [nsRouterLink]="['/dashboard']" android.systemIcon="ic_menu_back" tap="onNavBtnTap"></NavigationButton>
    <ActionItem ios.systemIcon="16" ios.position="left" (tap)="deleteAllNotifications()" android.systemIcon="ic_menu_delete" text="Delete" android.position="actionBar">
    </ActionItem>
</ActionBar>

<GridLayout rows="auto, *">
    <SearchBar 
        (loaded)="sBLoaded($event)" 
        hint="Search by event id" 
        [text]="searchPhrase" 
        (textChange)="onSearchTextChanged($event)"></SearchBar>
    <RadListView *ngIf="!isLoading" row="1" height="100%" [items]="filteredItems" swipeActions="true" 
                (itemTap)="onNotificationTap($event)"
                (itemSwipeProgressStarted)="onSwipeCellStarted($event)">
        <ng-template tkListItemTemplate let-item="item" let-i="index">
            <CardView class="cardStyle" margin="5" elevation="5" borderRadius="5" radius="5">
                <StackLayout class="p-10" backgroundColor="white">
                    <FlexboxLayout justifyContent="space-between" flexDirection="row">
                        <Label class="list-group-item-heading" id="Name" [text]='"New Event: " + item.Status?.Data?.ReferenceID'></Label>
                        <Label col="1" fontSize="10" padding="3%" [text]='item.Status?.DateTime | date: "dd-MMM-yyyy hh:mm a"'></Label>
                    </FlexboxLayout>
                    <Label id="city" [text]='"Status: [" + item.Status?.Data?.StatusCode +"] " + item.Status?.Data?.StatusDescription'></Label>
                    <StackLayout columns="auto, *" orientation="horizontal">
                        <Label col="0" text="On:" id="city"></Label>
                        <Label col="1" id="city" [text]='item.Status?.DateTime | date: "dd - MMM - yyyy, hh:mm"'></Label>
                    </StackLayout>
                </StackLayout>
            </CardView>
        </ng-template>

        <GridLayout *tkListItemSwipeTemplate columns="*, auto">
			<StackLayout margin="5" backgroundColor="#CB1D00" padding="20" id="delete-view" col="1" (tap)="delete($event)" class="delete-view">
                <Image verticalAlignment="center" height="30" src="~/images/delete.png"></Image>
			</StackLayout>
		</GridLayout>
    </RadListView>
    
    <ActivityIndicator [busy]="isLoading" *ngIf="isLoading" row="1" horizontalAlignment="center"
        verticalAlignment="center">
    </ActivityIndicator>
</GridLayout>