ActionBar {
    background-color: #f8f8f8;
    color: black;
}
.small-spacing {
    margin: 5;
}
.medium-spacing {
    margin: 10;
}

#Name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14ch;
    font-weight: 900;
    text-decoration: underline;
    padding: 4%;
}
#city {
    padding: 3%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 11ch;
}
.font-awesome {
    font-family: 'FontAwesome';
}