ActionBar {
    background-color: #f8f8f8;
    color: black;
}
.small-spacing {
    margin: 5;
}
.medium-spacing {
    margin: 10;
}
.Name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12ch;
}

.filter {
    background-color: #0033cc;
    text-align: right;
    color: white;
}