<ActionBar title="My Shipments">
    <NavigationButton text="Go Back" [nsRouterLink]="['/dashboard']" android.systemIcon="ic_menu_back" tap="onNavBtnTap"></NavigationButton>
    <ActionItem ios.systemIcon="9" ios.position="right" color="#0000ff" icon="res://ic_notifications_black_24dp" [nsRouterLink]="['/notifications']"
        android.position="actionBar">
    </ActionItem>
    <ActionItem *ngIf="notificationCount" ios.position="right">
        <Label translateX="-20" translateY="-10" padding="0 2" backgroundColor="#F40416" borderRadius="3" color="white" [text]="notificationCount"></Label>
    </ActionItem>
</ActionBar>

<GridLayout>
    <ActivityIndicator [busy]="isLoading" *ngIf="isLoading" row="1" horizontalAlignment="center"
        verticalAlignment="center"></ActivityIndicator>
    <TabView *ngIf="!isLoading" [(ngModel)]="tabSelectedIndex" selectedColor="#FF0000" iosIconRenderingMode="alwaysOriginal" sdkExampleTitle sdkToggleNavButton>
        <StackLayout *tabItem="{title: 'Air' + ' (' + airJobCount + ')'}" class="hidden">
                <Button text="{{ showDetails ? 'Collapse \uf077' : 'Show Filter \uf078'}}" fontAttributes="Italic" class="filter fa font-italic" (tap)="toggle()"></Button>
            <StackLayout orientation="horizontal"  *ngIf="showDetails">
                    <Button (tap)="onSearchByTap()" width="100" fontSize="12" class="fa p-10" backgroundColor="lightblue" [text]="searchByDisp + ' \uf0d7'"></Button>
                    <SearchBar (loaded)="sBLoaded($event)" hint="Search by master number" (textChange)="onSearchTextChangedAir($event)"></SearchBar>
            </StackLayout>
            <StackLayout>
                <GridLayout>
                    <RadListView *ngIf="!isLoading" row="1" height="100%" [items]="filteredItemsAir" 
                    (itemTap)="gotoAirShipmentDetail($event)">
                        <ng-template let-item="item" let-i="index">
                                <CardView class="cardStyle" margin="5" elevation="5" borderRadius="5" radius="5">
                            <GridLayout rows="auto, auto, auto, auto, auto" 
                                columns="1/2*, auto, 1/2*, 25" class="Name p-10">
                                <Label row="0" col="0" class="text-center" text="AWB Number" color="gray"></Label>
                                <Label row="0" col="2" class="text-center" text="Reference" color="gray"></Label>
                                <Label type="notification" row="0" col="3" class="fa text-center p-5" borderWidth="1" borderRadius="3" borderColor="black" text="&#xf0a2;" ></Label>

                                <Label row="1" col="0" class="text-center" [text]="item.MasterNo" color="black" fontWeight="bold"></Label>
                                <Label row="1" col="2" class="text-center" [text]="item.UniqueReferenceID" color="black" fontWeight="bold"></Label>

                                <Label row="2" col="0" class="text-center" backgroundColor="lightgray" color="black" [text]="item.Origin.Name" fontWeight="bold" textWrap="true"></Label>
                                <Label row="2" col="1" class="text-center" backgroundColor="lightgray" color="black" class="fa" text="&#xf061;" fontWeight="bold"></Label>
                                <Label row="2" col="2" class="text-center" backgroundColor="lightgray" color="black" [text]="item.Destination.Name" fontWeight="bold" textWrap="true"></Label>

                                <Label row="3" col="0" colSpan="3" text="Latest Status" color="gray" textWrap="true"></Label>

                                <Label row="4" col="0" colSpan="3" color="black" [text]='item.LatestEventStatus?.Event?.Code + " - " + item.LatestEventStatus?.Event?.Name + " on " + item.LatestEventStatus?.DateTime + " at " + item.LatestEventStatus?.Location?.Name'
                                        textWrap="true"></Label>
                            </GridLayout>
                            </CardView>
                        </ng-template>
                    </RadListView>
                </GridLayout>
            </StackLayout>
        </StackLayout>
        <StackLayout *tabItem="{title: 'Sea' + ' (' + seaJobCount + ')'}" class="hidden">
            <Button text="{{ showDetails ? 'Collapse \uf077' : 'Show Filter \uf078'}}" fontAttributes="Italic" class="filter fa font-italic" (tap)="toggle()"></Button>
            <StackLayout orientation="horizontal" *ngIf="showDetails"  backgroundColor="lightblue">
                    <Button (tap)="onSearchByTap()" width="100" fontSize="12" class="fa p-10" backgroundColor="lightblue" [text]="searchBy + ' \uf0d7'"></Button>    
                <SearchBar (loaded)="sBLoaded($event)" hint="Enter Search here" (textChange)="onSearchTextChangedSea($event)"></SearchBar>
            </StackLayout>
            <StackLayout>
                <GridLayout>
                        <RadListView *ngIf="!isLoading" row="1" height="100%" [items]="filteredItemsSea" (itemTap)="gotoSeaShipmentDetail($event)">
                        <ng-template let-item="item" let-i="index">
                                <CardView class="cardStyle" margin="5" elevation="5" borderRadius="5" radius="5">
                            <GridLayout rows="auto, auto, auto, auto, auto" 
                                columns="1/2*, auto, 1/2*, 25" class="Name p-10">
                                <Label row="0" col="0" class="text-center" text="BL Number" color="gray"></Label>
                                <Label row="0" col="2" class="text-center" text="Reference" color="gray"></Label>
                                <Label type="notification" row="0" col="3" class="fa text-center p-5" borderWidth="1" borderRadius="3" borderColor="black" text="&#xf0a2;" ></Label>

                                <Label row="1" col="0" class="text-center" [text]="item.MasterNo" color="black" fontWeight="bold"></Label>
                                <Label row="1" col="2" class="text-center" [text]="item.UniqueReferenceID" color="black" fontWeight="bold"></Label>
                                
                                <Label row="2" col="0" class="text-center" [text]="item.Origin.Name" color="black" backgroundColor="lightgray" fontWeight="bold" textWrap="true"></Label>
                                <Label row="2" col="1" class="text-center" backgroundColor="lightgray" class="fa" text="&#xf061;" fontWeight="bold"></Label>
                                <Label row="2" col="2" class="text-center" [text]="item.Destination.Name" color="black" backgroundColor="lightgray" fontWeight="bold" textWrap="true"></Label>
                                
                                <Label row="3" col="0" colSpan="3" text="Latest Status" color="gray"></Label>

                                <Label row="4" col="0" colSpan="3" class="text-center" 
                                color="black" [text]='item.LatestEventStatus?.Event?.Code + " - " + item.LatestEventStatus?.Event?.Name + " on " + item.LatestEventStatus?.DateTime + " at " + item.LatestEventStatus?.Location?.Name'
                                        textWrap="true"></Label>
                            </GridLayout>
                            </CardView>
                        </ng-template>
                    </RadListView>
                </GridLayout>
            </StackLayout>
        </StackLayout>
        <StackLayout *tabItem="{title: 'Road' + ' (' + roadJobCount + ')'}" class="hidden">
            <Button text="{{ showDetails ? 'Collapse \uf077' : 'Show Filter \uf078'}}" fontAttributes="Italic" class="filter fa font-italic" (tap)="toggle()"></Button>
            <StackLayout orientation="horizontal" *ngIf="showDetails">
                    <Button (tap)="onSearchByTap()" width="100" fontSize="12" class="fa p-10" backgroundColor="lightblue" [text]="searchBy + ' \uf0d7'"></Button>    
                <SearchBar (loaded)="sBLoaded($event)" hint="Search by master number" (textChange)="onSearchTextChangedRoad($event)"></SearchBar>
            </StackLayout>
            <StackLayout>
                <GridLayout>
                        <RadListView *ngIf="!isLoading" row="1" height="100%" [items]="filteredItemsRoad" (itemTap)="gotoRoadShipmentDetail($event)">
                        <ng-template let-item="item" let-i="index">
                                <CardView class="cardStyle" margin="5" elevation="5" borderRadius="5" radius="5">
                            <GridLayout rows="auto, auto, auto, auto, auto" 
                                columns="1/2*, auto, 1/2*, 25" class="Name p-10">
                                <Label row="0" col="0" class="text-center" text="BL Number" color="gray"></Label>
                                <Label row="0" col="2" class="text-center" text="Reference" color="gray"></Label>
                                <Label type="notification" row="0" col="3" class="fa text-center p-5" borderWidth="1" borderRadius="3" borderColor="black" text="&#xf0a2;" ></Label>

                                <Label row="1" col="0" class="text-center" [text]="item.MasterNo" color="black" fontWeight="bold"></Label>
                                <Label row="1" col="2" class="text-center" [text]="item.UniqueReferenceID" color="black" fontWeight="bold"></Label>

                                <Label row="2" col="0" class="text-center" [text]="item.Origin.Name" color="black" backgroundColor="lightgray" fontWeight="bold" textWrap="true"></Label>
                                <Label row="2" col="1" class="text-center" backgroundColor="lightgray" class="fa" text="&#xf061;" fontWeight="bold"></Label>
                                <Label row="2" col="2" class="text-center" [text]="item.Destination.Name" color="black" backgroundColor="lightgray" fontWeight="bold" textWrap="true"></Label>
                                    
                                <Label row="3" col="0" colSpan="3" text="Latest Status" color="gray"></Label>

                                <Label row="4" col="0" colSpan="3" color="black"
                                    [text]='item.LatestEventStatus?.Event?.Code + " - " + item.LatestEventStatus?.Event?.Name + " on " + item.LatestEventStatus?.DateTime + " at " + item.LatestEventStatus?.Location?.Name'
                                        textWrap="true"></Label>
                            </GridLayout>
                           </CardView>
                        </ng-template>
                    </RadListView>
                </GridLayout>
            </StackLayout>
        </StackLayout>
    </TabView>
</GridLayout>