<ActionBar title="Chat">
  <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="goBack()">
  </NavigationButton>
  <ActionItem ios.systemIcon="9" ios.position="right" color="#0000ff" icon="res://ic_notifications_black_24dp" [nsRouterLink]="['/notifications']"
      android.position="actionBar">
  </ActionItem>
  <ActionItem *ngIf="notificationCount" ios.position="right">
      <Label translateX="-20" translateY="-10" padding="0 2" backgroundColor="#F40416" borderRadius="3" color="white" [text]="notificationCount"></Label>
  </ActionItem>
</ActionBar>
<StackLayout>
  <Label class="p-10" borderBottomWidth="1" borderBottomColor="lightgray" text="Conversation 1"></Label>
  <Label class="p-10" borderBottomWidth="1" borderBottomColor="lightgray" text="Conversation 2"></Label>
  <Label class="p-10" borderBottomWidth="1" borderBottomColor="lightgray" text="Conversation 3"></Label>
</StackLayout>