<ActionBar title="Rate Request">
  <NavigationButton text="Go Back" [nsRouterLink]="['/dashboard']" android.systemIcon="ic_menu_back" tap="onNavBtnTap">
  </NavigationButton>
  <ActionItem ios.systemIcon="9" ios.position="right" color="#0000ff" icon="res://ic_notifications_black_24dp" [nsRouterLink]="['/notifications']"
      android.position="actionBar">
  </ActionItem>
  <ActionItem *ngIf="notificationCount" ios.position="right">
      <Label translateX="-20" translateY="-10" padding="0 2" backgroundColor="#F40416" borderRadius="3" color="white" [text]="notificationCount"></Label>
  </ActionItem>
</ActionBar>
<GridLayout rows="auto, auto, *">
  <StackLayout row="0" orientation="horizontal">
    <RadDataForm [source]="raterequest" (editorUpdate)="onEditorUpdate($event)" tkExampleTitle tkToggleNavButton>
      <TKEntityProperty tkDataFormProperty name="TransportMode" displayName="Transport Mode" index="0" valuesProvider="Air, Ocean, Road">
        <TKPropertyEditor tkEntityPropertyEditor type="Picker"></TKPropertyEditor>MultilineText
      </TKEntityProperty>
      <TKEntityProperty tkDataFormProperty name="To" displayName="To" index="2"></TKEntityProperty>
      <TKEntityProperty tkDataFormProperty name="From" displayName="From" index="1"></TKEntityProperty>

      <TKEntityProperty tkDataFormProperty name="IncoTerms" displayName="INCO Terms" index="4" valuesProvider="None, EXW, FCA, FAS, FOB, CFR, CIF, CPT, CIP, DDP, DAP, DAT ">
        <TKPropertyEditor tkEntityPropertyEditor type="Picker"></TKPropertyEditor>
      </TKEntityProperty>

      <TKEntityProperty tkDataFormProperty name="ShipmentDate" displayName="Date" index="3">
        <TKPropertyEditor tkEntityPropertyEditor type="DatePicker"></TKPropertyEditor>
      </TKEntityProperty>
      <TKEntityProperty tkDataFormProperty name="ShipmentDetails" displayName="ShipmentDetails" index="5">
        <TKPropertyEditor tkEntityPropertyEditor type="MultilineText"></TKPropertyEditor>
      </TKEntityProperty>
    </RadDataForm>
  </StackLayout>
  <StackLayout row="1" orientation="horizontal" class="form">
    <Button text="Send" class="btn btn-primary" (tap)="onSubmit()"></Button>
  </StackLayout>
</GridLayout>