<ActionBar title="Shipment Details">
  <NavigationButton text="Go Back"
                 
                    android.systemIcon="ic_menu_back" color="black"
                    (tap)="goBack()">
  </NavigationButton>
  <ActionItem ios.systemIcon="9" ios.position="right" color="#0000ff" icon="res://ic_notifications_black_24dp" [nsRouterLink]="['/notifications']"
      android.position="actionBar">
  </ActionItem>
  <ActionItem *ngIf="notificationCount" ios.position="right">
      <Label translateX="-20" translateY="-10" padding="0 2" backgroundColor="#F40416" borderRadius="3" color="white" [text]="notificationCount"></Label>
  </ActionItem>
</ActionBar>
  <GridLayout>
    <ActivityIndicator [busy]="isLoading" *ngIf="isLoading" row="1" horizontalAlignment="center"
      verticalAlignment="center"></ActivityIndicator>
    <TabView ios:height="100%" *ngIf="!isLoading" [(ngModel)]="tabSelectedIndex" selectedColor="#FF0000" iosIconRenderingMode="alwaysOriginal" sdkExampleTitle sdkToggleNavButton>
      <StackLayout *tabItem="{title: 'Shipment Details'}" class="hidden">
        <GridLayout columns="auto,2*" , rows="auto,*">
          <StackLayout col="0" row="0" padding="15" orientation="vertical">
            <b><Label class="list-group-item-heading" text="Reference ID" padding="5"></Label></b>
            <b><Label class="list-group-item-heading" text="Transport Mode" padding="5"></Label></b>
            <b><Label class="list-group-item-heading" text="Origin" padding="5"></Label></b>
            <b><Label class="list-group-item-heading" text="Destination" padding="5"></Label></b>
            <b><Label class="list-group-item-heading" text="AWB Number" padding="5"></Label></b>
          </StackLayout>
          <StackLayout col="1" row="0" padding="15" orientation="vertical">
            <Label class="list-group-item-heading" padding="5" [text]="pagedItems.ReferenceID"></Label>
            <Label class="list-group-item-heading" padding="5" [text]="pagedItems.TransportMode"></Label>
            <Label class="list-group-item-heading" padding="5" [text]="pagedItems.Origin"></Label>
            <Label class="list-group-item-heading" padding="5" [text]="pagedItems.Destination"></Label>
            <Label class="list-group-item-heading" padding="5" [text]="pagedItems.MasterNumber"></Label>
          </StackLayout>
          <StackLayout row="1" colSpan="2" padding="15">
            <Label text="Remarks" padding="5"></Label>
            <Label [text]="pagedItems.Remarks" padding="5" textWrap="true"></Label>
          </StackLayout>
        </GridLayout>
      </StackLayout>
        <StackLayout *tabItem="{title:'Shipment Tracking'}" class="hidden">
              <Label class="text-center" fontSize="15" text="Last Updated: {{notificationData.StatusUpdates[0].EventDateTime | date:'MMM d, y, h:mm a z'}}"></Label>
              <Label class="p-10 m-5" fontSize="16" backgroundColor="lightgray" text="Latest Status: {{notificationData.StatusUpdates[0].Description}}"></Label>
              <CardView class="cardStyle" margin="5" elevation="5" borderRadius="5" radius="5">
                  <StackLayout>
                      <Label class="p-5 p-l-10" fontSize="16" backgroundColor="lightgray" text="Locations"></Label>
                      <StackLayout borderBottomWidth="1" borderBottomColor="#eee" *ngFor="let code of locationCodes">
                          <Label class="status fa p-10" fontSize="15" (tap)="code.isOpen =! code.isOpen;" text="{{ '\uf041 ' + code.name }}"></Label>
                          <ng-container *ngIf="code.isOpen">
                              <GridLayout class="p-5" *ngFor="let update of locationSet[code.id]" rows="auto, auto, auto" columns="auto, auto">
                                  <Label row="0" col="0" class="status-code m-l-15" text="{{ update.StatusCode }}"></Label>
                                  <Label row="0" col="1" class="description fa m-l-15 p-2" text="{{ '\uf05a ' + update.Description }}"></Label>
                                  <Label row="1" col="1" class="link fa m-l-15 p-2" text="{{ '\uf0c1 ' + (update.Source === 'OceanLiner' ? update.LocalTransport.Carrier : update.Flights.Carrier) }}"></Label>
                                  <Label row="2" col="1" class="date fa m-l-15 p-2" text="{{ '\uf017 ' + (update.EventDateTime | date:'MMM d, y, h:mm a z') }}"></Label>
                              </GridLayout>
                          </ng-container>
                      </StackLayout>
                  </StackLayout>
              </CardView>
        </StackLayout>
    </TabView>
  </GridLayout>