<ActionBar title="My Brand Online">
</ActionBar>
<GridLayout>
    <ScrollView orientation="horizontal" marginTop="10%" marginBottom="10%">
        <StackLayout orientation="vertical" width="100%" height="100%" backgroundColor="white">
                <Image (tap)="onTapIcon()" src="~/images/mybrand.JPG" height="150" width="150"></Image>
                <StackLayout orientation="vertical" backgroundColor="lightgray" class="loginFormContainer">
                        <StackLayout orientation="vertical" class="loginForm">
                    <TextField class="input" [(ngModel)]="input.Username" hint="Username"></TextField>
                    <TextField secure="true" class="input" [(ngModel)]="input.Password" hint="Password"></TextField>
               </StackLayout>
               <StackLayout orientation="vertical" class="loginButton">
                <Button text="Login" (tap)="login(input)"></Button>
                </StackLayout>
            </StackLayout>
            <StackLayout orientation="horizontal" class="addloginButton">
					<Button text="Add Login" (tap)="onButtonTap()"></Button>
				</StackLayout>
        </StackLayout>
    </ScrollView>
</GridLayout>