ActionBar {
    background-color: #f8f8f8;
    color: black
}
.small-spacing {
    margin: 5;
}
#medium-spacing {
    margin: 5;
}
.border {
    border-width: 1;
    border-color: #9f9f9f;
    border-radius: 1;
}
#Name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14ch;
    font-weight: 900;
}
.css {
    color: red;
    width: auto;
    height: auto;
}
.loginFormContainer{
    border-color: darkgray;
    border-width: 1 0 1 0;
    width: 100%;
}

.loginForm{
    margin: 0 40;
    border-color: skyblue;
    border-radius: 2;
}

.loginButton{
    height: 180px;
    margin-top: 40px;
    border-color: skyblue;
   
}

Button{
    border-color: white;
    border-width: 2 0 2 0;
    font-size: 16px;
    width: 100%;
    color: black;
    font-weight: bold;
}

TextField {
    border-width: 1 1 1 1;
    border-color: skyblue;
    height: 100px;
    background-color: white;
    font-size: 18px;
    padding: 20px;
    margin-top: 40px;
}

.dataConnect{
    border-width: 0;
    height: 150px;
    color: black;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.addloginButton{
    border-color: lightgray;
    border-width: 1 0 1 0;
}

.errorMessageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.errorMessage{
    font-size: 18px;
    color: red;
}

