<ActionBar title="Member Agent Directory" color="black">
  <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="goBack()">
  </NavigationButton>
  <ActionItem ios.systemIcon="9" ios.position="right" color="#0000ff" icon="res://ic_notifications_black_24dp" [nsRouterLink]="['/notifications']"
      android.position="actionBar">
  </ActionItem>
  <ActionItem *ngIf="notificationCount" ios.position="right">
      <Label translateX="-20" translateY="-10" padding="0 2" backgroundColor="#F40416" borderRadius="3" color="white" [text]="notificationCount"></Label>
  </ActionItem>
</ActionBar>
<StackLayout orientation="horizontal"  *ngIf="showDetails">
    <SearchBar (loaded)="sBLoaded($event)" hint="Agent Name" (textChange)="onSearchTextChangedAir($event)"></SearchBar>
  <Button (tap)="onSearchByTap()" width="100" fontSize="12" class="fa p-10" backgroundColor="lightblue" [text]="searchByDisp + ' \uf0d7'"></Button>
</StackLayout>
<StackLayout orientation="horizontal"  *ngIf="showDetails">
   <SearchBar (loaded)="sBLoaded($event)" hint="Country" (textChange)="onSearchTextChangedAir($event)"></SearchBar>
  <SearchBar (loaded)="sBLoaded($event)" hint="City" (textChange)="onSearchTextChangedAir($event)"></SearchBar>
</StackLayout>
<GridLayout class="m-5" rows="auto">
  <ListView row="0" height="600" class="list-group-p-10" id="medium-spacing" [items]="pagedItems">
    <ng-template let-pagedItem="item" let-i="index">
      <StackLayout class="list-group-item border" [nsRouterLink]="['/agentmember', pagedItem.AgentID]">
        <b>
          <Label class="list-group-item-heading" id="Name" [text]="pagedItem.AgentName" textWrap="true"></Label>
        </b>
        <StackLayout orientation="horizontal">
          <Label [text]="pagedItem.City.Name+','+ pagedItem.Country.Code+''" id="city" class="list-group-item-text"></Label>
        </StackLayout>
      </StackLayout>
    </ng-template>
  </ListView>
  <ActivityIndicator [busy]="isLoading" *ngIf="isLoading" row="1" horizontalAlignment="center"
    verticalAlignment="center">
  </ActivityIndicator>
</GridLayout>