ActionBar {
    background-color: #f8f8f8;
    color: white;
}
.small-spacing {
    margin: 5;
}
#medium-spacing {
    margin: 5;
}

#Name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16ch;
    font-weight: 900;
    text-decoration: underline;
    padding: 4%;
}

#city {
    padding: 3%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 11ch;
}
