<ActionBar [title]="notification.Status.Data.ReferenceID">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="onNavBtnTap()"></NavigationButton>
</ActionBar>

<ScrollView>
    <GridLayout class="p-10">
        <StackLayout *ngIf="!isLoading && show404"
            marginTop="300" verticalAlignment="center" horizontalAlignment="center">
            <Label class="h2 text-center" text="Sorry"></Label>
            <Label class="h3 text-center" text="Status Not Found"></Label>
        </StackLayout>
        <StackLayout *ngIf="!isLoading && !show404">
            <Label class="text-center" fontSize="15" text="Last Updated: {{notificationData.StatusUpdates[0].EventDateTime | date:'MMM d, y, h:mm a z'}}"></Label>
            <Label class="p-10 m-5" fontSize="16" backgroundColor="lightgray" text="Latest Status: {{notificationData.StatusUpdates[0].Description}}"></Label>
            <CardView class="cardStyle" margin="5" elevation="5" borderRadius="5" radius="5">
                <StackLayout>
                    <Label class="p-5 p-l-10" fontSize="16" backgroundColor="lightgray" text="Locations"></Label>
                    <StackLayout borderBottomWidth="1" borderBottomColor="#eee" *ngFor="let code of locationCodes">
                        <Label class="status fa p-10" fontSize="15" (tap)="code.isOpen =! code.isOpen;" text="{{ '\uf041 ' + code.name }}"></Label>
                        <ng-container *ngIf="code.isOpen">
                            <GridLayout class="p-5" *ngFor="let update of locationSet[code.id]" rows="auto, auto, auto" columns="auto, auto">
                                <Label row="0" col="0" class="status-code m-l-15" text="{{ update.StatusCode }}"></Label>
                                <Label row="0" col="1" class="description fa m-l-15 p-2" text="{{ '\uf05a ' + update.Description }}"></Label>
                                <Label row="1" col="1" class="link fa m-l-15 p-2" text="{{ '\uf0c1 ' + (update.Source === 'OceanLiner' ? update.LocalTransport.Carrier : update.Flights.Carrier) }}"></Label>
                                <Label row="2" col="1" class="date fa m-l-15 p-2" text="{{ '\uf017 ' + (update.EventDateTime | date:'MMM d, y, h:mm a z') }}"></Label>
                            </GridLayout>
                        </ng-container>
                    </StackLayout>
                </StackLayout>
            </CardView>
        </StackLayout>
        <ActivityIndicator marginTop="300" height="40" busy="true" *ngIf="isLoading"></ActivityIndicator>
    </GridLayout>
</ScrollView>