button {
    font-size: 25;
}

.drawerContentText {
    font-size: 13;
    padding: 10;
}

.drawerContentButton {
    margin: 10;
}

.sideStackLayout {
    background-color: white;
}

.sideTitleStackLayout {
    height: 56;
    text-align: center;
}

.sideLabel {
    padding: 10;
}

.sideLightGrayLabel {
    background-color: lightgray;
    font-weight: bold;
}
.sideBlueLabel {
    padding: 10;
    background-color: dodgerblue;
    color: white;
    font-weight: 500;
}

image {
    width: 100%;
    height: 100%;
    margin-top: 130px;
    padding: 25px;
}

ActionBar {
    background-color: #f8f8f8;
    color: white;
}

.cardStyle {
    background-color: #f8f8f8;
    color: #fff;
}

.directory {
    font-size: '16';
    left: '65';
    top: '230';
    height: '120';
    width: '130';
    background-color: #f2f2f2;
}

.font-awesome {
    font-family: 'FontAwesome';
}

span {
    text-shadow: 2px 2px;
}

button:pressed {
    background-color: blue;
}

.sideDrawer-myshipment {
    border-radius: 3;
    border-width: 1;
    border-color: lightblue;
    padding: 5;
}

.activeDefault {
    background-color: lightblue;
}
