<RadSideDrawer showOverNavigation="true" tkExampleTitle tkToggleNavButton>
    <StackLayout tkDrawerContent class="sideStackLayout">
        <!-- <StackLayout class="sideTitleStackLayout">
          <Label text="customer1@mybrand.com" class="sideLabel"></Label>
      </StackLayout> -->
        <StackLayout class="sideStackLayout">
            <Label class="sideBlueLabel" text="Log Out" (tap)="logout()"></Label>
            <Label text="Preferences" class="sideLabel sideLightGrayLabel"></Label>
            <Label text="My Shipments" fontWeight="Bold" class="sideLabel"></Label>

            <Label text="Default Shipment Visibility" class="sideLabel"></Label>
            <FlexboxLayout flexDirection="row" justifyContent="space-around">
                <Label text="Air" class="sideDrawer-myshipment" [class.activeDefault]="defaultVisible === 'air'" (tap)="setDefaultVisibility('air')"></Label>
                <Label text="Sea" class="sideDrawer-myshipment" [class.activeDefault]="defaultVisible === 'sea'" (tap)="setDefaultVisibility('sea')"></Label>
                <Label text="Road" class="sideDrawer-myshipment" [class.activeDefault]="defaultVisible === 'road'" (tap)="setDefaultVisibility('road')"></Label>
            </FlexboxLayout>
            <GridLayout rows="auto auto" columns="* *" class="m-5">
                <Label text="Notification" class="h3 m-15" textWrap="true" row="0" col="0"></Label>
                <Switch class="m-15" checked="false" (checkedChange)="onFirstChecked($event)" row="0" col="1"></Switch>
            </GridLayout>
            <Label text="Login Profile" class="sideLabel sideLightGrayLabel"></Label>
            <Label [text]="userDetails.UserDetails.Email" class="sideLabel"></Label>
        </StackLayout>
    </StackLayout>
</RadSideDrawer>



<ActionBar title="Menu" color="black">
    <NavigationButton icon="res://ic_menu_black_24dp" color="blue" (tap)="openDrawer()"></NavigationButton>
    <ActionItem ios.systemIcon="9" ios.position="right" color="#0000ff" icon="res://ic_notifications_black_24dp" [nsRouterLink]="['/notifications']"
        android.position="actionBar">
    </ActionItem>
    <ActionItem *ngIf="notificationCount" ios.position="right">
        <Label translateX="-20" translateY="-10" padding="0 2" backgroundColor="#F40416" borderRadius="3" color="white" [text]="notificationCount"></Label>
    </ActionItem>
    <!--<ActionItem [text]="notificationCount"></ActionItem>
 <ActionBar>
    <ActionBar.titleView>
        <Label text="&#xf0c9;" (tap)="openDrawer()" fontSize="20" horizontalAlignment="left" color="#1b67bb" style="font-family: FontAwesome;"></Label>
        <Label text="&#xf0f3;" [nsRouterLink]="['/notifications']" fontSize="20" horizontalAlignment="right" color="#3333cc" style="font-family: FontAwesome;"></Label>
    </ActionBar.titleView>-->
</ActionBar>

<StackLayout horizontalAlignment="center" minHeight="10">
    <Image src="~/images/mybrand.JPG" height="150" width="150"></Image>
</StackLayout>

<!-- <BadgeButton text="Button with Badge" badgeValue="1" badgeOriginX="450"></BadgeButton> -->


<StackLayout marginTop="140">
    <GridLayout columns="3*,3*" rows="3*,3*" width="250" height="250" marginTop="80">
        <CardView class="cardStyle" margin="8" elevation="15" borderRadius="5" radius="1" col="0" row="0">
            <Button backgroundColor="#F8F8F8" [nsRouterLink]="isAgent ? ['/agentdirectory'] : ['/directory']" borderRadius="16" margin="5">
                <FormattedString>
                    <Span text="&#xf2b9;&#x000a;" fontFamily="FontAwesome" fontSize="40" color="#1b67bb"></Span>
                    <Span text="Directory" fontSize="12" color="#1b67bb"></Span>
                </FormattedString>
            </Button>
        </CardView>
        <CardView class="cardStyle" margin="8" elevation="15" radius="1" col="1" row="0">

            <Button backgroundColor="#F8F8F8" [nsRouterLink]="['/raterequest']" borderRadius="8" margin="5">
                <FormattedString>
                    <Span text="&#xf155;&#x000a;" fontFamily="FontAwesome" fontSize="40" color="#1b67bb"></Span>
                    <Span text="RateRequest" fontSize="12" color="#1b67bb"></Span>
                </FormattedString>
            </Button>
        </CardView>

        <CardView class="cardStyle" margin="8" elevation="15" radius="1" col="0" row="1">
            <Button backgroundColor="#F8F8F8" [nsRouterLink]="['/chat']" borderRadius="8" margin="5">
                <FormattedString>
                    <Span text="&#xf086;&#x000a;" fontFamily="FontAwesome" fontSize="40" color="#1b67bb"></Span>
                    <Span text="Chat" fontSize="12" color="#1b67bb"></Span>
                </FormattedString>
            </Button>
        </CardView>

        <CardView *ngIf="!isAgent" class="cardStyle" margin="8" elevation="15" radius="1" col="1" row="1">
            <Button backgroundColor="#F8F8F8" [nsRouterLink]="['/myshipments']" borderRadius="8" margin="5">
                <FormattedString>
                    <Span text="&#xf0d1;&#x000a;" fontFamily="FontAwesome" fontSize="40" color="#1b67bb"></Span>
                    <Span text="MyShipments" fontSize="12" color="#1b67bb"></Span>
                </FormattedString>
            </Button>
        </CardView>

        <CardView *ngIf="isAgent" class="cardStyle" margin="8" elevation="15" radius="1" col="1" row="1">
            <Button backgroundColor="#F8F8F8" borderRadius="8" margin="5">
                <FormattedString>
                    <Span text="&#xf0c0;&#x000a;" fontFamily="FontAwesome" fontSize="40" color="#1b67bb"></Span>
                    <Span text="Customer Overview" fontSize="12" color="#1b67bb"></Span>
                </FormattedString>
            </Button>
        </CardView>
    </GridLayout>

</StackLayout>

<!-- <GridLayout columns="3*,3*" rows="3*,3*" width="300" height="300" marginTop="80">
    <Button  backgroundColor="#F8F8F8"  [nsRouterLink]="['/directory']" borderRadius="8" col="0" row="0" margin="5">
        <FormattedString>
           <Span text="&#xf2b9;&#x000a;" fontFamily="FontAwesome" fontSize="44" color="#0000ff"></Span>
           <Span text="Directory" fontSize="15" color="#0000ff"></Span>
        </FormattedString>
     </Button>
     <Button backgroundColor="#F8F8F8" [nsRouterLink]="['/raterequest']" borderRadius="8" col="1" row="0" margin="5">
        <FormattedString>
           <Span text="&#xf155;&#x000a;" fontFamily="FontAwesome" fontSize="44" color="#0000ff"></Span>
           <Span text="RateRequest" fontSize="15" color="#0000ff"></Span>
        </FormattedString>
     </Button>
     <Button backgroundColor="#F8F8F8" [nsRouterLink]="['/chat']"  borderRadius="8" col="0" row="1" margin="5">
        <FormattedString>
           <Span text="&#xf086;&#x000a;" fontFamily="FontAwesome" fontSize="44" color="#0000ff"></Span>
           <Span text="Chat" fontSize="15" color="#0000ff"></Span>
        </FormattedString>
     </Button>
     <Button backgroundColor="#F8F8F8" [nsRouterLink]="['/myshipments']" borderRadius="8" col="1" row="1" margin="5">
        <FormattedString>
           <Span text="&#xf0d1;&#x000a;" fontFamily="FontAwesome" fontSize="44" color="#0000ff"></Span>
           <Span text="MyShipments" fontSize="15" color="#0000ff"></Span>
        </FormattedString>
     </Button> 
 </GridLayout> -->

<DockLayout class="marquee" stretchLastChild="false" columns="auto auto auto">
    <Label #marqueeEl dock="bottom" class="h3 m-5" 
        text="This is a really long text to test the marquee functionality is working or not" 
        style="background-color: #f8f8f8"></Label>
</DockLayout>