<ActionBar class="action-bar" title="RateRequest Detail">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" color="black" (tap)="goBack()">
    </NavigationButton>
    <ActionItem ios.systemIcon="9" ios.position="right" color="#0000ff" icon="res://ic_notifications_black_24dp" [nsRouterLink]="['/notifications']"
        android.position="actionBar">
    </ActionItem>
    <ActionItem *ngIf="notificationCount" ios.position="right">
        <Label translateX="-20" translateY="-10" padding="0 2" backgroundColor="#F40416" borderRadius="3" color="white" [text]="notificationCount"></Label>
    </ActionItem>
</ActionBar>
<GridLayout rows="auto, auto, auto, auto, auto, auto" columns="auto, auto">
    <Label row="0" col="0" class="Name" text="TransportMode:" ></Label>
    <Label row="1" col="0" class="Name" text="From:" ></Label>
    <Label row="2" col="0" class="Name" text="To:" ></Label>
    <Label row="3" col="0" class="Name" text="Ship Date:" ></Label>
    <Label row="4" col="0" class="Name" text="IncoTerms:"></Label>
    <Label row="5" col="0" class="Name" text="ShipmentDetails:" ></Label>
    <Label row="0" col="1" class="Name" [text]="pagedItems.TransportMode"></Label>
    <Label row="1" col="1" class="Name" [text]="pagedItems.From"></Label>
    <Label row="2" col="1" class="Name" [text]="pagedItems.To"></Label>
    <Label row="3" col="1" class="Name" [text]="pagedItems.ShipmentDate"></Label>
    <Label row="4" col="1" class="Name" [text]="pagedItems.IncoTerms"></Label>
    <Label row="5" col="1" class="Name" [text]="pagedItems.ShipmentDetails"></Label>
</GridLayout>